on fs
    setprop ro.com.google.clientidbase android-hmd-rev2
    setprop ro.product.brand Nokia
    setprop ro.product.first_api_level 26
    setprop ro.product.manufacturer "HMD Global"
    setprop ro.product.model "Nokia 7 plus"
    setprop ro.product.name Onyx_00WW
    setprop ro.build.flavor Onyx_00WW-user
    setprop persist.radio.sar.enabled 7

on post-fs
    setprop media.settings.xml "product/etc/media_profiles_vendor.xml"

	setprop ro.build.fingerprint Nokia/Onyx_00WW/gsi_sdm660_64:9/PKQ1.180712.001/00WW_3_150:user/release-keys
	setprop ro.build.description "Onyx_00WW-user 9 PKQ1.180712.001 00WW_3_150 release-keys"
